  /* FONTS */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"), local("roboto-regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("robotobold"), local("roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

/* VARIABILATIES */
:root {
  --basic-black: #000000;
  --dark-grey-blue: #283136;
  --darker-grey: #444444;
  --dark-grey: #666666;
  --grey: #a6a6a6;
  --light-grey: #c1c1c1;
  --alto: #dfdfdf;
  --light-alto: #d5d5d5;
  --basic-white: #ffffff;
  --white-grey: #eeeeee;
  --coral: #fb565a;
  --coral-hover: #e74246;
  --coral-active: #d7373b;
  --light-grey: #e1e1e1;
  --green: #00CA74;
  --green-hover: #00bc6c;
  --green-active: #00aa62;
  --yellow: #efc849;
  --yellow-hover: #eab534;
  --yellow-active: #e5a722;
  --special: #01a25e;
}

/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* MAIN NAVIGATION */
.main-navigation {
  font-weight: 500;
  line-height: 30px;
  background-color: var(--white-grey);
}

.main-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover {
  color: var(--coral);
}

.main-navigation a:active {
  color: inherit;
  opacity: 0.3;
}

/*FEATURES*/
.features,
.catalog-title {
  background-color: var(--white-grey);
}

.button {
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  border-radius: 3px;
}

.features-button,
.button-web,
.footer-contacts-button,
.to-buy-product-button {
  background-color: var(--coral);
}

.features-button:hover,
.button-web:hover,
.footer-contacts-button:hover,
.to-buy-product-button:hover {
  background-color: var(--coral-hover);
}

.features-button:active,
.button-web:active,
.footer-contacts-button:active,
.to-buy-product-button:active {
  background-color: var(--coral-active);
}

.feature-item h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.feature-item p {
  line-height: 24px;
  color: var(--dark-grey-blue);
}

.services-list h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.services-list p {
  color: var(--dark-grey-blue);
}


/*BUTTON-APP*/
.button-app {
  background-color: var(--coral);
}

.button-app:hover {
  background-color: var(--green-hover);
}

.button-app:active {
  background-color: var(--green-active);
}

.button-app {
  background-color: var(--green);
}

/*BUTTON-PRESENTATION*/
.button-presentation {
  background-color: var(--yellow);
}

.button-presentation:hover {
  background-color: var(--yellow-hover);
}

.button-presentation:active {
  background-color: var(--yellow-active);
}

.about-us {
  color: var(--dark-grey-blue);
}

.about-us h2 {
  font-weight: 500;
  font-size: 45px;
  color: var(--basic-black);
  line-height: 45px;
}

.about-us h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.about-statistics p {
  font-weight: bold;
  text-transform: uppercase;
}

.about-statistics-numbers-row {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.about-statistics-value-row {
  line-height: 18px;
  color: var(--dark-grey-blue);
}

/* INNER PAGE*/
.catalog-filter h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.catalog-filter-sort-item a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-filter-sort-item a:hover {
  opacity: 0.6;
}

.catalog-filter-sort-item a:active {
  opacity: 1;
}

.product-information a {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.product-information a:hover {
  color: var(--coral);
}

.product-information a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.product-information p {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-grey);
}

/*PAGINATION*/
.catalog-pagination-list a{
  font-size: 16px;
  color: var(--basic-black);
  background-color: var(--white-grey);
}

.catalog-pagination-list a:hover {
  background-color: var(--alto);
}

.catalog-pagination-list a:active {
  opacity: 0.3;
  background-color: var(--light-alto);
}

/*FOOTER*/
.footer h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer p {
  line-height: 22px;
  color: var(--dark-grey-blue);
}
.footer-contacts {
  background-color: var(--basic-white);
}

.footer-contacts h2 {
  font-size: 18px;
  line-height: 30px;
}

.footer-contacts p {
  line-height: 18px;
}

.footer-phone {
  color: inherit;
}


.footer-social-button:link {
  background-color: var(--light-grey);
}

.footer-social-button:hover {
  background-color: var(--coral-hover);
}

.footer-social-button:active {
  background-color: var(--coral-active);
}
