  /* FONTS */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"), local("roboto-regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("robotobold"), local("roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

/* VARIABILATIES */
:root {
  --basic-black: #000000;
  --middle-black: rgba(0, 0, 0, 0.3);
  --young-black: rgba(0, 0, 0, 0.6);
  --dark-grey-blue: #283136;
  --darker-grey: #444444;
  --dark-grey: #666666;
  --grey: #a6a6a6;
  --light-grey: #e1e1e1;
  --silver: #c1c1c1;
  --alto: #dfdfdf;
  --light-alto: #d5d5d5;
  --basic-white: #ffffff;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --white-grey: #eeeeee;
  --coral: #fb565a;
  --coral-hover: #e74246;
  --coral-active: #d7373b;
  --green: #00CA74;
  --green-hover: #00bc6c;
  --green-active: #00aa62;
  --yellow: #efc849;
  --yellow-hover: #eab534;
  --yellow-active: #e5a722;
  --special: #01a25e;
}

/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GRID*/
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
}

/* MAIN NAVIGATION */
.main-header {
  font-weight: 500;
  line-height: 30px;
  background-color: var(--white-grey);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 49px;
}

.main-header-logo {
  margin-right: 200px;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.basket-link,
.header-link {
  display: block;
  padding: 13px 0 13px 0;
  color: var(--basic-black);
}

.main-navigation-list .header-link {
  margin-right: 45px;
}

.user-navigation {
  margin-left: auto;
}

.header-link:hover {
  color: var(--coral);
}

.header-link:active {
  color: var(--middle-black);
}

.header-link-curent {
  border-bottom: 2px solid var(--coral);
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("/img/bin-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link {
  padding-left: 50px;
  position: relative;
}

/*FEATURES*/
.page-heading,
.features {
  background-color: var(--white-grey);
}

.button {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  vertical-align: middle;
  border-style: none;
  border-radius: 3px;
  background-color: var(--coral);
}

.button:hover,
.footer-social-button:hover {
  background-color: var(--coral-hover);
}

.button:active,
.footer-social-button:active {
  color: var(--opacity-white);
  background-color: var(--coral-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-social-button:active img {
  opacity: 0.3;
}


.features-list {
  margin-bottom: 80px;
}

.feature-item h3,
.page-heading-title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 78px;
  margin: 0;
  padding-bottom: 25px;
}

.feature-item p {
  line-height: 24px;
  color: var(--dark-grey-blue);
  margin: 0;
  margin-bottom: 55px;
}

.features-button {
  width: 240px;
  height: 50px;
}

/*SLIDER*/
.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-1 {
  background-image: url("/img/slide1.png");
  height: 431px;
  background-repeat: no-repeat;
  background-position: right;
}

.slide-2 {
  background-image: url("/img/slide2.png");
  height: 431px;
  background-repeat: no-repeat;
  background-position: right;
}

.slide-3 {
  background-image: url("/img/slide3.png");
  height: 431px;
  background-repeat: no-repeat;
  background-position: right;
}

.features .container {
  position: relative;
}

.slider-navigation {
  position: absolute;
  bottom: 96px;
  left: 526px;
  z-index: 66;
  display: flex;
  width: 88px;
  justify-content: space-between;
  align-items: center;
}

.slider-navigation-item {
display: flex;
}

.slider-button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.current-item .slider-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
}

/*SERVICES*/
.services {
  border-bottom: 2px solid var(--white-grey);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list li {
  flex-basis: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.services-list li:nth-child(3n) {
  margin-right: 0;
 }

.services-list h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

.services-list p,
.about-us {
  color: var(--dark-grey-blue);
}

.services-list p {
  margin: 0;
  margin-bottom: 32px;
}

.service-list-content-img {
  width: 100%;
  min-height: 146px;
  margin-bottom: 25px;
}

.web-item-img {
  background-image: url("/img/web.jpg");
  background-repeat: no-repeat;
}

.app-item-img {
  background-image: url("/img/app.jpg");
  background-repeat: no-repeat;
}

.presentation-item-img {
  background-image: url("/img/presentation.jpg");
  background-repeat: no-repeat;
}

.button-web,
.button-app,
.button-presentation {
  width: 160px;
  height: 50px;
}

/*BUTTON-APP*/
.button-app {
  background-color: var(--green);
}

.button-app:hover {
  background-color: var(--green-hover);
}

.button-app:active {
  background-color: var(--green-active);
}

/*BUTTON-PRESENTATION*/
.button-presentation {
  background-color: var(--yellow);
}

.button-presentation:hover {
  background-color: var(--yellow-hover);
}

.button-presentation:active {
  background-color: var(--yellow-active);
}

/*ABOUT-US*/
.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  border-bottom: 2px solid var(--white-grey);
}

.about-us {
width: 650px;
}

.about-statistics {
  width: 360px;
}

.about-us h2 {
  font-weight: 500;
  font-size: 45px;
  color: var(--basic-black);
  line-height: 45px;
  padding: 73px 0 40px 0;
  margin: 0;
}

.about-us p {
  padding-bottom: 40px;
  margin: 0;
}

.about-us-services-list-title,
.about-statistics p {
  font-weight: bold;
  text-transform: uppercase;
}

.about-us .about-us-services-list-title {
  padding-bottom: 23px;
}

.about-us-services-list li{
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
}

.about-us-services-list li:last-child {
  margin: 0;
}

.about-us-services-list li::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--coral);
  position: absolute;
  left: 0;
  top: 50%;
}

.about-statistics img {
  margin: 40px 0 35px 0;
}

.about-statistics-table-title {
  margin: 0;
  padding-bottom: 40px;
}

.about-statistics-numbers-row {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  padding-bottom: 10px;
}

.about-statistics-value-row {
  line-height: 18px;
  color: var(--dark-grey-blue);
}

/*PARTNERSHIP*/
.partnership-list {
  display: flex;
  height: 180px;
  border-bottom: 2px solid var(--white-grey);
  margin-bottom: 80px;
}

.partnership-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100%;
}

.partnership-list-item:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-grey);
}

.partnership-list-image {
  display: block;
  opacity: 0.2;
}

.partnership-list-image:hover {
  opacity: 1;
}

.partnership-list-image:active {
  opacity: 0.1;
}

/* INNER PAGE*/
.page-heading-title {
  text-align: center;
  margin: 0;
}

.catalog-container {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 60px 40px;
}

.sort-filter {
  grid-column: 1/2;
}

.catalog-filter {
  grid-column: 2/-1;
}

.catalog-product {
  grid-column: 2/-1;
}

.sort-filter h2,
.catalog-filter h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-filter-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--middle-black);
}

.catalog-filter-item a:hover {
  color: var(--young-black);
}

.catalog-filter-item a:active {
  color: var(--basic-black);
}

.catalog-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
}

.template-card-title a {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.template-card-title a:hover {
  color: var(--coral);
}

.template-card-title a:active {
  color: var(--middle-black);
}

.template-card-wrapper p {
  line-height: 18px;
  color: var(--dark-grey);
}

/*PAGINATION*/
.catalog-pagination-list a {
  color: var(--basic-black);
  background-color: var(--white-grey);
}

.catalog-pagination-list a:hover {
  background-color: var(--alto);
}

.catalog-pagination-list a:active {
  color: var(--middle-black);
  background-color: var(--light-alto);
}

/*FOOTER*/
.footer h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer p {
  line-height: 22px;
  color: var(--dark-grey-blue);
}

.footer-contacts {
  width: 319px;
  height: 308px;
  margin-right: auto;
  background-color: var(--basic-white);
}

.footer-contacts-content {
  padding: 50px;
}

.footer-contacts h2 {
  font-size: 18px;
  line-height: 30px;
}

.footer-contacts p {
  line-height: 18px;
}

.footer-phone {
  color: inherit;
}

.footer-contacts-button {
  width: 219px;
  height: 50px;
}

/*FOOTER_SOCIAL*/
.footer-social {
  display: flex;
  padding: 68px 0;
}

.footer-social-list {
  width: 261px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 140px;
  position: relative;
}

.footer-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

/*MODAL*/
.modal-comunication h2{
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.communication-form {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}

.appointment-item label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 34px 0;
}
.appointment-item:first-child {
  margin-right: 40px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
}

.appointment-item input {
  width: 360px;
  font: inherit;
  padding: 16px
}

.communication-form-letter {
  margin-bottom: 47px;
}

.communication-form-letter input {
  width: 760px;
  height: 118px;
  padding: 16px auto auto 16px;
}

.communication-form-button {
  width: 259px;
  height: 50px;
}
